.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px 20px 20px;
}

.header__title {
  font: none;
  font-size: 200%;
  font-weight: 600;
}

.header__icons {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.screen-header__icons span {
  margin-left: var(--horizontal-space);
}
